{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
    <br/>
    <br/>
    <div class="aboutText desktopView1">
            <h3 class="subHeading1">About</h3>

        <br/>
        <br/>
        <p>
            Aggregating and analysing NSW education and school enrolment data to discover trends in performance of students in specific subjects in relation with factors attributed with school, location and gender.

            In particular, we are interested in student performances in Science, Technology, Engineering & Mathematics (STEM) related subjects over time of females and students located in regional areas who have otherwise historically been under-represented parties. By identifying these performance indicators, we hope that they'll serve as tools in the aid of combatting this key issue as we move closer and closer to a more quantitative and digital age.
        </p>
    
    </div>
    <div class="row entries">
        <div class="col-xs-12">
            <div class="table-responsive">

            </div>
        </div>
</div>
</div>

{% endblock %}