<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Project.95</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <!--<tite>TEST BOOTSTRAP TEMPLATE</tite>-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <script src="https://unpkg.com/vue@2.2.6/dist/vue.js"></script>
    <script src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://unpkg.com/chartkick@2.2.3"></script>
    <script src="{{ url_for('static', filename='js/dist/vue-chartkick.js') }}"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <!-- Optional Bootstrap theme -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
 
<body>

<nav class="navbar navbar-default navbar-fixed-top" data-spy="" data-offset-top="">
  <div class="container-fluid desktopView">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
        <div style="padding-right:10px; padding-top:2px;" class="navbar-right">
        <h4><span href="{{ url_for('main') }}" class="label label-primary labelUsername">Project.95</span></h4>
        </div>

    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="menuFloat nav navbar-nav navbar-right">
        <li ><a href="{{ url_for('main') }}">Home </a></li>
        <li><a href="{{ url_for('dataset') }}">Datasets</a></li>
        <li><a href="{{ url_for('about') }}">About</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
    <br/>
    <div class="">
        <div class=" wrapper">

	   {% block content %} {% endblock %}
        </div>
    </div>
    <br/>
    
    <script>
        /*$(document).ready(function () {
    $('.nav li').click(function(e) {

        $('.nav li.active').removeClass('active');

        var $parent = $(this).parent();
        $parent.addClass('active');
        e.preventDefault();
    });
});*/
    </script>
</body>
 <footer class="footer">
    <div class="desktopView">
        <br/>
        <p class="bottomText"> Powered by Flask, Bootstrap and ChartJS</p>
        <p class="bottomText"> Govhack 2017 &copy; Astericks 2017</p>
     </div>
</footer>
</html>