{% extends "base.html" %}
{% block content %}
    <div class="container-fluid">
        <div class="beforePadding"></div>
        <h3 class="subHeading1">Interactive Graphs (THINK OF TITLE)</h3>
        <br/>
        <br/>
        <p>
            Brief Description of dataset
            
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap.
        </p>
    </div>

{% endblock %}