
{% extends "base.html" %}
{% block content %}
    <div class="">
        <div class="beforePadding"></div>
        <div class="desktopView1">
        <h3 class="subHeading1">Interactive Graphs </h3>
        <br/>
        <br/>
        <p>
            
            Project.95 is a website for displaying data using a set of interactive graphs for comparison and insight. Scroll down to see current data visualisation based on HSC results and NSW schools. 
            
            </p>
            <br/>
            <div class="beforePadding"></div>
    
        </div>
         <div class="stemTable" >
                     <div class="beforePadding"></div>

             <div class="desktopView1" id="app">
                 <h3>STEM Subjects</h3>
                 <br/>
                 <p>Displays the percentage of female students compared to male students who achieved band 6 in the particular subject area, spanning over the last 3 years. De-select the remaining subjects below to see trends and compare subjects</p><br/><br/>
                 <canvas id="myChart" width="400" height="200"></canvas>
                 <br/>
                 <br/>
             </div>
            <div class="beforePadding"></div>

        </div>
        <div class="desktopView1">
                    <div class="beforePadding"></div>

             <h3>Intensity Map (Under Development)</h3>
             <br/>
            <p>Used to display the performance of regional schools against metro schools in STEM subjects across the last three years. The more darker the shade the better the performance</p><br/><br/>
        
		      <div id="googleMap" style="width:100%;height:400px;"></div>
        </div>
        <!---<div class="stemTable" >
                     <div class="beforePadding"></div>

             <div class="desktopView1" id="app">
                 <h3>More to come!</h3>
                 <br/>
                 <p>Data is still being added, hoping to include the past 10 years of HSC Results. More filters to be added to increase functionality and visualisation capabilities to current charts. More charts to be added to diversify representation. </p><br/><br/>
                 <br/>
                 <br/>
             </div>
        </div>--->

<script>
    function myMap() {
        var mapProp = {
			  center: new google.maps.LatLng(-33.8698494, 150.9085259),
			  zoom: 9,
			  mapTypeId: google.maps.MapTypeId.ROADMAP
			};
        var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
        }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDq-2Xi5ktY2BT49vMowI2ohRlx-wyUyAc&callback=myMap"></script>           
            <br/>
             <br/>

        </div>
<script>
    
    data11 = [
  {name: 'Workout', data: {'2013-02-10 00:00:00 -0800': 3, '2013-02-17 00:00:00 -0800': 4}},
  {name: 'Call parents', data: {'2013-02-10 00:00:00 -0800': 5, '2013-02-17 00:00:00 -0800': 3}}
];

    var ctx = document.getElementById("myChart").getContext('2d');
    var chart = new Chart (ctx, {
        
    // The type of chart we want to create
    type: 'line',

    // The data for our dataset
    data: {
        labels: ["2013","2014", "2015", "2016"],
        datasets: [{
            label: "IPT",
            backgroundColor: 'rgba(255, 99, 132, 0.3)',
            borderColor: 'rgb(255, 99, 132)',
            data: {{ subjectDict[15210] }},
            fillOpacity: .3,
            fill: 'false',
            
        },{
                  
            label: "Mathematics",
            backgroundColor: 'rgba(55, 99, 132, 0.3)',
            borderColor: 'rgb(55, 99, 132)',
            data: {{ subjectDict[15240] }},
            fillOpacity: .3,
            fill: 'false',
            hidden: 'true',

        },{
                  
            label: "Chemistry",
            backgroundColor: 'rgba(255, 252, 104, 0.3)',
            borderColor: 'rgb(255, 252, 104)',
            data: {{ subjectDict[15050] }},
            fillOpacity: .3,
            fill: 'false',
            hidden: 'true',

        },{
                  
            label: "Software Design",
            backgroundColor: 'rgba(5, 2, 3, 0.3)',
            borderColor: 'rgb(5, 2, 3)',
            data: {{ subjectDict[15360] }},
            fillOpacity: .3,
            fill: 'false',
            hidden: 'true',

        },{
                  
            label: "Engineering",
            backgroundColor: 'rgba(55, 99, 55, 0.3)',
            borderColor: 'rgb(55, 99, 55)',
            data: {{ subjectDict[15120] }},
            fillOpacity: .3,
            fill: 'false',
            hidden: 'true',

        }]
    },

    // Configuration options go here
    options: {
        scales: {
            yAxes: [{
                display: true,
                labelString: 'probability',
                ticks: {
                    suggestedMin: 0,    // minimum will be 0, unless there is a lower value.
                    // OR //
                    beginAtZero: true,   // minimum value will be 0.
                    max: 100,
                }
            }]
        },
        legend: {
            position: 'bottom',
            },
        
        tooltips: {
            mode: 'nearest'
        },
        
        animation: {
            currentStep: '1000',

            numSteps: '1000',
            
            duration: 3000,
        },
        scaleOverride: true,
        scaleStartValue: 0,
        scaleSteps: 11,
        scaleStepWidth: 6910,
    }
});
    </script>



{% endblock %}